@model User
@{
    ViewData["Title"] = "ViewProfile";
}

<h2 id="profile-title">Your Profile</h2>

<p class="profile-welcome">Welcome back <strong id="user-name">@Model.FirstName @Model.LastName</strong></p>

<table class="user-data">
    <tr>
        <td>Username : @Model.Username</td>
    </tr>
    <tr>
        <td>First Name : @Model.FirstName</td>
    </tr>
    <tr>
        <td>Last Name : @Model.LastName</td>
    </tr>
    <tr>
        <td>Email : @Model.Email</td>
    </tr>
    <tr>
        <td>Phone Number : @Model.PhoneNumber</td>
    </tr>
</table>

